<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/f31ea25433.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Document</title>
</head>

<body>
  <div class="content-wrapper">
    <div class="card">
      <div class="card__main">
        <div class="card__thumb">
          <img src="../assets/images/podcast.jpg" alt="Podcast" srcset="" />
        </div>
        <div class="card__intro">
          <h3 class="card__title gamma"><a class="card_link" href="">Episode 1: Name of the Episode</a></h3>

          <h5 class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim voluptatibus
            deserunt repellendus</h5>
        </div>
        <div class="card__form">
          <form action="">
            <button class="btn btn--icon" type="submit" name="action" value="like">
              <span class="fas fa-bookmark"></span>
            </button>
          </form>
        </div>
      </div>
      <ul class="bare-list card__footer">
        <li><a class="btn btn--tag" href="#">Podcast</a></li>
        <li><a class="btn btn--tag" href="#">Historia</a></li>
        <li><a class="btn btn--tag" href="#">Literatura</a></li>
      </ul>
    </div>
  </div>
</body>

</html>