<div class="content-wrapper">
  <% if @posts.any? %>
    <ul class="bare-list cards">
      <% @posts.each do |post| %>
        <%= render partial: 'post_card-favorite', locals: { post: post} %>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('results.favorites') %></p>
  <% end %>
  <div class="pagination-container">
    <%= paginate @posts %>
  </div>
</div>