<div class="content-wrapper">
  <% if @posts.any? %>
    <ul class="bare-list cards">
      <% @posts.each do |post| %>
        <%= render partial: 'post_card-favorite', locals: { post: post} %>
      <% end %>
    </ul>
  <% else %>
    <p>No tienes ningún artículo en tu lista de favoritos</p>
  <% end %>
</div>