// VARIABLES

// Colors
$white: #fafafa;
$gray-1: #72797e; // Darkest gray
$gray-2: #afbac4;
$gray-3: #bbc1c6;
$gray-4: #e3e5e9;
$gray-5: #f7f9fc; // Lightest gray
$black: #192127;
$yellow: #ffc94b;
$primary-color: #f9a66c; // Curuba
$secondary-color: #f17a7e; // Red


// # Sizes
$base-line-height: 1.6;
$pulse: $base-line-height * 1rem;