/* ==================
* FEATURED
===================== */

/* IMAGE */
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  &:hover .featured__thumb img {
    transform: scale(1.15);
  }

  &--left {
    &::after {
      height: 30vh;
      display: block;
      content: "";

      @include tablet {
        height: 20vh;
      }
    }
  }


  &__background {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 100%;

    img {
      display: block;
      margin: 0;
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
      filter: blur(12px);

    }
  }

  &__front {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13%;
    width: 100%;
    position: relative;

    @include tablet {
      margin-top: 8%;
    }

    .featured__thumb {
      height: 0;
      position: relative;
      display: block;
      padding-top: 80%;
      width: 95%;
      overflow: hidden;

      img {
        margin: 0;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: transform ease 0.3s;
      }
    }
  }

  @include desktop {
    .featured__thumb {
      max-width: 95%;
    }

    &--left .featured__thumb {
      align-self: end;
    }

    &--right .featured__thumb {
      align-self: start;
    }
  }
}

.featured {
  &__main {
    // border: 1px solid red;
    border-radius: 5px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 86%;
    top: 60%;
    padding: $pulse * 3;
  }

  @include desktop {
    &__main {
      max-width: 60rem;
      // border: 1px black solid;

    }

    &--left .featured__main {
      align-self: end;
      border-radius: 5px 0 0 5px;
    }

    &--right .featured__main {
      align-self: start;
      border-radius: 0 5px 5px 0;
    }
  }
}

.featured {

  /* AUTHOR */
  &__meta {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 1.2%;
    }
  }

  /* TEXT */

  &__title {
    // font-size: 1em;
    font-weight: 600;
    display: block;
    padding: 0.5em 0;

    a {
      font-size: 1em;
    }
  }

  &__text {
    display: block;
    padding-top: 0.5em;
    font-size: 1.5em;
    font-weight: 200;
    color: $gray-1;
  }

  /* TAGS */
  &__footer {
    display: flex;
    padding: 2em 0;

    .btn {
      font-size: 1rem;
      display: flex;
      align-items: center;
      margin: 0 0.2rem;
    }
  }
}