/* ==============================
* NAVIGATION
================================= */

/* Global Header Navigation */
.global-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: -1em;
  display: flex;

  >li {
    // float: left;
    list-style-type: none;
    margin: 0 0 0 $pulse;
    padding: $pulse 0;
  }

  a {
    color: $white;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

/* Footer Navigation */
.nav-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;


  ul {
    display: flex;
    justify-content: space-between;
    padding-right: $pulse;
  }

  li {
    padding-right: $pulse;
    white-space: nowrap;
  }

  a {
    color: $gray-3;

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
}