/* ==============================
 * SEARCH FORM
================================= */

.search {
  font-size: 1.5rem;
  // color: $gray-1;
  border-color: $primary-color;
  border-bottom: 3px solid $black;
  margin-bottom: $pulse * 2;
  width: 100%;

  &__label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5em;
  }

  &__field {
    background-color: $green;
    border: 0px none;
    color: $gray-4;
    font-size: $pulse * 3;
    font-weight: 700;
    margin: 0;
    padding: $pulse 0;
    width: 100%;

    @include tablet {
      font-size: $pulse * 5;
    }

    &:focus {
      outline: none;
    }
  }

  &__row {
    // display: flex;
    // width: 90%;
    // grid-template-columns: 6fr 1fr;

    // & .btn {
    //   border-left-width: 0;
    //   padding: 1.6em;
    // }
  }

  &__row &__field {
    // flex: 1 0 10em;
  }
}

.search--cta .search__field {
  // border-color: $primary-color;

  &:focus {
    // border-color: darken($primary-color, 15);
  }
}