/* ==============================
 * FEATURED HEADER
================================= */

.featured__header {
  display: grid;
  gap: ($pulse * 9) 0;
  margin-bottom: $pulse;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include mobile {
    gap: ($pulse * 18) 0;
  }

  @include tablet {
    gap: ($pulse * 9) 0;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
  }
}