/* ==============================
 * FEATURED HEADER
================================= */

.featured__header {
  display: grid;
  gap: ($pulse * 3) 0;
  margin-bottom: $pulse;
  width: 100%;

  @include desktop {
    grid-template-columns: 1fr 1fr;
  }
}