/* ==============================
 * HEADER
================================= */
.header {
  // border-bottom: 1px solid $gray-4;
  // background-color: $white;
  background: $green;
  margin: 0 0 $pulse 0;
  padding: 0;
  margin-bottom: $pulse * 2;
  
}

.banner {
  height: 100vh;
}


.global-header {
  // background: $primary-color;

  // border-bottom: 1px solid $gray-4;
  padding: 0;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  .main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1em;
    width: 100%;
    z-index: 44;

    &__item {
      display: flex;
      align-items: flex-end;

      padding: $pulse $pulse $pulse 0;
    }

    .logo {
      flex: 1 0 50%;
    }
  }
}

.social-media-header {
  width: 100%;
}