/* ==============================
 * HEADER
================================= */
.banner {
  // border-bottom: 1px solid $gray-4;
  // background-color: $white;
  padding: 0;
  margin: 0;
  height: 250vh;

  @include mobile {
    height: 100vh;
  }

  @include tablet {
    height: 80vh;
  }

  @include desktop {
    height: 100vh;
  }
}



.global-header {
  margin: 0 0 $pulse 0;
  // border-bottom: 1px solid $gray-4;
  padding: 0;
  z-index: 44;
  position: relative;

  .content-wrapper {
    flex-direction: column;
  }

  .logo {
    float: left;
    margin: 1rem $pulse 1rem 0;
  }

  .search {
    float: left;
    flex: 1 0 auto;
    margin: 0 0 -1px 0;

    @media screen and (min-width: 700px) {
      margin-right: $pulse;
    }
  }

  .social-media-header {
    width: 100%;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    width: 100%;
  }

  .content-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    // &::after {
    //   content: '';
    //   display: table;
    //   clear: both;
    // }
  }

}