/* ==============================
 * HEADER
================================= */
.banner {
  // border-bottom: 1px solid $gray-4;
  // background-color: $white;
  padding: 0;
  margin: 0 0 ($pulse * 3);
}


.global-header {
  background: $primary-color;
  background: radial-gradient(circle, rgba(224, 145, 95, 1) 0%, rgba(251, 184, 125, 1) 50%, rgba(252, 201, 141, 1) 100%);
  margin: 0 0 $pulse 0;
  // border-bottom: 1px solid $gray-4;
  padding: 0;
  position: relative;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    width: 100%;
    z-index: 44;

    &__item {
      display: flex;
      align-items: flex-end;

      padding: $pulse $pulse $pulse 0;
    }

    .logo {
      flex: 1 0 50%;
    }
  }



}