/* ==============================
 * MASTHEAD
================================= */

.masthead {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;

  // border: 1px solid red;

  h1 {
    color: $black;

  }

  p {
    color: $gray-1;
  }

  .content-wrapper {
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search {
    // align-self: stretch;

    // @include tablet {
    //   align-self: center;
    //   width: 80%
    // }

    // @include desktop {
    //   margin: 0 auto;
    //   width: 60%
    // }
  }
}