<div class="content-wrapper">
  <h2 class="alpha">Lo más reciente</h2>

  <ul class="bare-list cards">
    <% @posts.each do |post| %>
      <%= render partial: 'post_card', locals: { post: post} %>
    <% end %>
  </ul>
</div>
<div class="content-wrapper">
  <%= link_to 'Ver más', posts_path, class: 'btn btn--index' %>
</div>