/* ==============================
* DROPDOWN MENU
================================= */

.dropdown-menu  {
  display: none;
  background: $white;
  border-radius: 3px;
  color: $primary-color;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  white-space: nowrap;

  > li{
    padding: 0;
    border-bottom: 1px solid $gray-4;
  }

  a {
    color: $primary-color;
    display: block;
    padding:  0.5rem 7rem 0.5rem 1em;
  }

  a:hover,
  a:focus {
    display: block;
    text-decoration: underline;
    background: $gray-4;
  }
}

.has-dropdown {
  position: relative;

  a {
    display: block;
  }
}

.has-dropdown a:hover + .dropdown-menu,
.has-dropdown a:focus + .dropdown-menu,
.dropdown-menu:hover, .dropdown-menu:focus{
  display: block;
}
