/* ======================
* DISCUSSION ELEMENTS
========================= */
.comment {
  display: flex;
  justify-content: flex-start;
  margin: ($pulse * 2) 0;
  width: 100%;
}

.comment__avatar {
  padding-right: 2rem;
}

.comment__text {
  width: 100%;

  .input {
    display: flex;
    flex-direction: column;

    >* {
      margin-bottom: $pulse;
    }


    &_field {
      @include tablet {
        width: 100%;
      }
    }

    .btn {
      width: 100px;
      align-self: flex-end;
    }
  }

  p {
    color: $gray-1;
    font-size: 1.5em;
    line-height: 1.5;
  }
}

.comment__title {
  span {
    color: $gray-3;
  }
}

.comment__user {
  margin: 0 0 $pulse 0;
  color: $black;
  font-family: 'Roboto Slab',
  serif;

  a {
    color: $black;
    font-family: 'Roboto Slab',
      serif;
      text-decoration: underline;
  }

  a:hover,
  a:focus {
    color: $primary-color;
  }

  .comment__time {
    color: $gray-3;
    font-family: 'Poppins',
    sans-serif;
    font-size: 0.85em;
  }

}

.comment__delete {
  flex: 1 0 auto;

  .btn {
    font-size: 1.1rem;
    padding: 0.8rem;
  }
}

.discussion {
  .input__field {
    margin: $pulse 0;
  }
}