/* ==============================
* NAVIGATION
================================= */

/* Global Header Navigation */
.global-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  display: flex;

  >li {
    // float: left;
    list-style-type: none;
    margin: 0 0 0 $pulse;
    padding: $pulse 0;
  }

  a {
    color: $white;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    /* Fontawesome icons*/
    .svg-inline--fa {
      font-size: 1.4em;
    }
  }
}

/* Social Media nav */

.social-media-nav {
  /* Spotify */
  .fa-spotify {
    transition: all ease 0.2s;
  }
  .fa-spotify:hover,
  .fa-spotify:active,
  .fa-spotify:focus {
    color: #1db954;
  }
  /* Instagram */
  .fa-instagram {
    transition: all ease 0.2s;
  }
  .fa-instagram:hover,
  .fa-instagram:active,
  .fa-instagram:focus {
    color: #000;
  }
  /* Twitter */
  .fa-twitter {
    transition: all ease 0.2s;
  }
  .fa-twitter:hover,
  .fa-twitter:active,
  .fa-twitter:focus {
    color: #1da1f2;
  }
}
.locales {
  a {
    font-size: 1.8rem;
    font-weight: 500;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }
}

/* Footer Navigation */
.nav-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;


  ul {
    display: flex;
    justify-content: space-between;
    padding-right: $pulse;
  }

  li {
    padding-right: $pulse;
    white-space: nowrap;
  }

  a {
    color: $gray-3;


    &:hover,
    &:focus {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}