/* ==============================
* POST CARDS
================================= */

.cards {
  margin: 3rem 0;
  display: grid;
  gap: $pulse * 2;
  width: 100%;

  @include small-tablet {
    grid-template-columns: 1fr 1fr;
    gap: ($pulse * 4) ($pulse * 3);
  }

  @include small-desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
  border-radius: 2%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;

  &:hover .card__thumb img {
    transform: scale(1.15);
  }

  &__main {
    position: relative;
  }

  &__form {
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 0 0 0 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    height: $pulse * 2;
    width: $pulse * 2;

    .svg-inline--fa {
      height: $pulse;
      width: $pulse;
    }
  }

  &__thumb {
    // border: solid red 1px;
    height: 0;
    position: relative;
    display: block;
    padding-top: 70.5%;
    width: 100%;

    img {
      margin: 0;
      object-fit: cover;
      object-position: center center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: transform ease 0.3s;
      z-index: -1;
    }
  }
}

.card {

  // Card text
  &__intro {
    padding: 0.5em 0 0.1em;
    background-color: $white;
  }

  &__title {
    font-size: 1em;
    font-weight: 600;
    display: block;


    a {
      font-size: 1.2em;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__text {
    display: none;
    padding-top: 1em;
    font-weight: 200;
    color: $black;

    &::after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      display: block;
      background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0) 0%, $white 100%) repeat scroll 0% 0%;
      bottom: 0;
      height: 20%;
    }

    @include tablet {
      display: block;
    }

  }

  &__meta {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 0.5rem 0 $pulse 0;

    a {
      text-decoration: underline;
    }

    @include tablet {
      justify-content: flex-end;
    }

    * {
      font-size: 1.1em;
    }

    &__avatar {
      margin-right: 1.2%;
    }
  }

  &__footer {
    display: flex;
    background-color: $white;
    z-index: 2;
    position: relative;
    padding: ($pulse/2) 0;
    overflow: hidden;

    .btn {
      font-size: 1rem;
      display: flex;
      align-items: center;
      margin-right: 0.3rem;
    }
  }
}

.invisible {
  display: none;
}