/* ==============================
* POST CARD LONG
================================= */

.post-long__list {
  display: block;
}

.post-long {
  border-bottom: 1px solid $gray-4;
  color: $gray-3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;

  &__main {
    display: flex;
    align-items: center;
    margin: $pulse 0;
  }

  &__thumb {
    padding-right: $pulse;
  }

  &__title {
    display: block;
    font-family: 'Roboto Slab',
      serif;

    a {
      font-size: 1.1em;
    }

  }

  &__date {
    font-size: 1.3rem;
  }

  &__btn {
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 $pulse;

    .btn:nth-child(2) {
      margin-left: $pulse;
    }
  }
}