/* ==============================
 * SEARCH FORM
================================= */

.search {
  font-size: 1.5rem;
  border-color: $primary-color;
  border-bottom: 3px solid $gray-4;
  margin-bottom: $pulse * 2;
  width: 100%;

  &__label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5em;
  }

  &__field {
    background-color: transparent;
    border: 0px none;
    color: $white;
    font-size: $pulse * 3;
    font-weight: 700;
    margin: 0;
    padding: $pulse 0;
    max-width: 90%;

    @include tablet {
      font-size: $pulse * 4;
    }

    @include desktop {
      font-size: $pulse * 5;
    }

    &:focus {
      outline: none;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .icon__big {
      opacity: 0;
      flex: 1 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .show {
      opacity: 1;
    }
  }
}