/* ==============================
* USER CARDS
================================= */

.user-card {
  border: 1px solid $gray-4;
  border-radius: 2%;
  box-shadow: 1rem 1rem 2rem $gray-3;
  display: flex;
  flex-direction: column;
  background-color: $white;
  overflow: hidden;
  padding: $pulse;
  position: relative;

  &__thumb {
    display: flex;
    position: relative;
    width: 100%;

    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }

    img {
      margin: 0;
      object-fit: cover;
      object-position: center center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__username {
    margin: ($pulse / 2) 0;

    a {
      &::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  &__main {
    flex: 1 0 auto;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin: ($pulse / 2) 0;
  }

  .btn {
    font-size: 1.3rem;
    padding: $pulse / 2;
    position: relative;
    z-index: 1;
  }
}