/* ==============================
 * DISCUSSION
================================= */
.discussion {

  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: $pulse;
  width: 100%;

  @include desktop {
    width: 70rem;
  }
} 