/* ==============================
 * FORMS
================================= */
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;

  @include tablet {
    width: 80%;
  }

  @include small-desktop {
    width: 70%;
  }

  h1 {
    margin: $pulse 0 ($pulse * 2);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;

  &__text {
    margin: 0 0 $pulse;
    color: $black;

    a {
      color: $primary-color;

      &:hover,
      &:focus {
        color: $black;
        text-decoration: underline;
      }
    }
  }

  >div:nth-child(2) {
    margin-top: $pulse * 2;
  }

}

.alert {
  color: $red;
  padding: $pulse 0;
  font-size: $pulse;
  display: block;
  p {
    font-size: $pulse;
  }
}


.input__description {
  margin: -3rem 0 $pulse 0;
}

.input--checkbox {
  display: flex;
  justify-content: space-between;

  .input__label {
    margin: 0;
  }
}

.input__btn {
  @include tablet {
    align-items: center;
  }
}

.input__btn--alone {
  .btn {
    width: 100%;
  }
}

.input__item {
  margin-bottom: $pulse;
}

.form--warning {
  >div:nth-child(2) {
    margin-top: 0;
  }

}