<div class="content-wrapper">
  <!-- START Form -->
  <div class="form-container">
    <h1 class="alpha"><%= t('edit.modify') %></h1>

    <%= render 'form',  post: @post %>
  </div>
  <!-- END Form -->
</div>