<div class="content-wrapper">
  <% if @search_term.present? %>
    <% if @posts.any? %>
    <ul class="bare-list cards">
      <% @posts.each do |post| %>
        <%= render partial: 'post_card', locals: { post: post} %>
      <% end %>
    </ul>
    <% else %>
    <p>Ningún artículo corresponde a tu búsqueda</p>
    <% end %>
  <% else %>
    <ul class="bare-list cards">
      <% @posts.each do |post| %>
        <%= render partial: 'post_card', locals: { post: post} %>
      <% end %>
    </ul>
  <% end %>
</div>