<div class="content-wrapper">
  <!-- START Form -->
  <div class="form-container">
    <h1 class="alpha">Nueva entrada</h1>

    <%= render partial: 'form',  locals: { post: @post } %>
  </div>
  <!-- END Form -->
</div>