// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn--index {
  align-self: center;
  width: auto;
  text-align: center;
}

.about-us-content {
  align-self: center;
  max-width: 75em;
}
