/* ==============================
* AVATAR
================================= */
.avatar {
  border-radius: 50%;
  box-shadow: 0 0 2px $gray-3;
  width: ($pulse * 3);
  height: ($pulse * 3);
  object-fit: cover;
  object-position: center center;

}

.avatar-small {
  width: ($pulse * 1.5);
  height: ($pulse * 1.5);
}