/* ==============================
* LOGO
================================= */

.logo {
  a {
    font-size: 1.8rem;
    font-weight: bold;
    color: $white;
    white-space: nowrap;
  }

  em {
    font-style: normal;
    color: $primary-color;
  }

  &--invert a {
    color: $white;
  }
}