    <!-- Start masthead -->
    <div class="masthead">
      <!-- Start Featured -->
      <div class="content-wrapper">
        <div class="featured">
          <div class="featured__header">
            <h1 class="alpha">Destacado</h1>
            <span><time>04/07/2020</time></span>
          </div>
          <div class="featured__thumb">
            <img
              src="<%= featured.image_url %>" srcset="" />
          </div>
          <div class="featured__main">
            <h3 class="featured__title">
              <a class="featured_link gamma" href="pages/post-image.html"><%= featured.title %></a>
            </h3>
            <p class="featured__text">
              <%= featured.preview_text %>
            </p>
            <div class="featured__author">
            <%= image_tag('passifloras/gulupa_1.jpeg', alt: 'Avatar', class: 'avatar avatar-medium') %>
              <span>por <a href="pages/user.html">Pepito Perez</a></span>
            </div>
          </div>
          <div class="featured__footer">
            <ul class="bare-list featured__tags">
              <li><a class="btn btn--tag" href="#">Podcast</a></li>
              <li><a class="btn btn--tag" href="#">Historia</a></li>
              <li><a class="btn btn--tag" href="#">Literatura</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>