<footer class="global-footer">
    <div class="content-wrapper">
      <div class="logo logo--invert">
        <a href="/">El Rincón de la <em>Curuba</em></a>
      </div>
      <div class="nav-footer">
        <ul class="bare-list">
          <li><%= link_to t('header.us'), about_us_path %></li>
          <li><%= link_to t('header.signup'), new_user_path %></li>
        </ul>
      </div>
      <p>&copy; <a href="https://elenagoto.ch/" target="_blank">Laura Gómez</a> 2020</p>
    </div>
  </footer>