<footer class="global-footer">
    <div class="content-wrapper">
      <div class="logo logo--invert">
        <a href="/">El Rincón de la <em>Curuba</em></a>
      </div>
      <div class="nav-footer">
        <ul class="bare-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>
      <p>&copy; Elenagoto 2020</p>
    </div>
  </footer>