<footer class="global-footer">
    <div class="content-wrapper">
      <div class="logo logo--invert">
        <a href="/">El Rincón de la <em>Curuba</em></a>
      </div>
      <div class="nav-footer">
        <ul class="bare-list">
          <li><a href="/">Nosotros</a></li>
          <li><a href="/">Registrarse</a></li>
          <li><a href="/">Contacto</a></li>
        </ul>
      </div>
      <p>&copy; <a href="www.elenagoto.ch">Laura Gómez</a> 2020</p>
    </div>
  </footer>