<div class="main-header">
  <nav>
    <ul class="global-nav bare-list">
      <li> 
        <%= link_to search_path do %>
          <i class="far fa-search fa-lg"></i> 
          <span class="sr-only">Buscar</span>
        <% end %>
      </li>
      <li><a href="pages/about.html">Usuarios</a></li>
      <li><a href="#">Entradas</a></li>
      <li><a href="#">Mi Cuenta</a></li>
      <li><%= link_to("Cerrar Sesión", logout_path, method: :delete) %></li>
    </ul>
  </nav>
</div>