<!-- START Masthead -->
<div class="masthead">
  <div class="content-wrapper">
    <!-- START Search form -->
    <form class="search search--cta" action="/" method="get">
      <!-- START Label -->
      <label id="form-search" for="global-search" class="search__label sr-only">Search</label>
      <!-- END Label -->
      <!-- START Search row -->
      <div class="search__row">
        <input id="global-search" class="search__field" type="text" name="search" placeholder="Search" />
        <input type="submit" value="Search" class="sr-only">
        <button id="reset" class="target icon__big" type="reset" value="Reset" aria-label="Button to reset search form">
          <i class="fal fa-times-circle target"></i>
        </button>
        <!-- <button class="btn btn--cta" type="submit">Search</button> -->
      </div>
      <!-- END Search row -->
    </form>
    <!-- END Search form -->
  </div>
</div>
<!-- END Masthead -->